@model IEnumerable<MVCG20250324S14.AppMVCWeb.Models.Cliente>

@{
    ViewData["Title"] = "Buscar clientes";
    var modelBuscar = new Cliente();
}

<h1>Buscar clientes</h1>



<form asp-action"Index">

    <div class="row">
        <div class="form-group col-4">
            <label asp-for="@modelBuscar.Nombre" class="control-label"></label>
            <input name="nombre" class="form-control" />

        </div>
        <div class="form-group col-3">
            <label asp-for="@modelBuscar.Telefono" class="control-label"></label>
            <input name="telefono" class="form-control" />

        </div>

        <div class="form-group col-4">
            <label asp-for="@modelBuscar.Email" class="control-label"></label>
            <input name="email" class="form-control" />


        </div>
    </div>
    <br />

    <div class="row">
        <div class="form-group">
            <input type="submit" value="Buscar" class="btn btn-primary" />
            <a asp-action="Create" class="btn btn-dark">
                <i class="bi bi-person-plus"></i> Crear nuevo cliente
            </a>

        </div>

    </div>



</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">
                            <i class="bi bi-pencil"></i> Editar
                        </a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary btn-sm">
                            <i class="bi bi-eye"></i> Detalles
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">
                            <i class="bi bi-trash"></i> Eliminar
                        </a>
                    </div>
                </td>


            </tr>
        }
    </tbody>
</table>
